---
import HtmlIcon  from './icons/Html.astro'
import CssIcon  from './icons/Css.astro'
import JsIcon  from './icons/Js.astro'
import Linkbutton from './Linkbutton.astro';
import Github from './icons/Github.astro';
import Web from './icons/Web.astro';

const TAGS = {
    HTML: {
        name: "Html5",
        class: "bg-[#e54e26]/50 text-white",
        icon: (HtmlIcon)
    },
    CSS: {
        name: "Css3",
        class: "bg-[#0071bb]/50 text-white",
        icon: (CssIcon)
    },
    JS: {
        name: "JavaScript",
        class: "bg-yellow-500/50 text-white",
        icon: (JsIcon)
    }

};
const PROJECTS = [
    {
        title: "Encriptador",
        description: "Encriptador y desencriptador de texto",
        link: "https://arroyoismael.github.io/EncrypText/",
        github:"https://github.com/ArroyoIsmael/EncrypText.git",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JS],
        image: "./projects/encriptador.webp"
    }
];
---

{
    PROJECTS.map(project => (
        <article>

            <h3 class="text-2xl font-semibold text-yellow-200 mb-2"> {project.title} </h3>
            <p class="text-lg mb-4 text-pretty"> {project.description}</p>
            
            <ul class="flex gap-x-2 flex-row mb-2">

                {   project.tags.map(tag => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                            <tag.icon class="size-4" />
                            {tag.name}
                        </span>
                    </li>
                    ))
                }
            </ul>
            <img loading="lazy" class="rounded shadow-2xl shadow-white/10 mb-2" 
            src={project.image} alt="Captura de pantalla de proyecto">
            <footer class="flex gap-x-4 items-end justify-start mt-4">
                <Linkbutton link={project.github}>
                    <Github class="size-6" />Ver código fuente
                </Linkbutton>
                <Linkbutton link={project.link}>
                    <Web class="size-6" />Ir al sitio web
                </Linkbutton>
            </footer>
        </article>
        
    ))
}