---
import HtmlIcon  from './icons/Html.astro'
import CssIcon  from './icons/Css.astro'
import JsIcon  from './icons/Js.astro'

const TAGS = {
    HTML: {
        name: "Html5",
        class: "bg-[#e54e26]/50 text-white",
        icon: (HtmlIcon)
    },
    CSS: {
        name: "Css3",
        class: "bg-[#0071bb]/50 text-white",
        icon: (CssIcon)
    },
    JS: {
        name: "JavaScript",
        class: "bg-yellow-500/50 text-white",
        icon: (JsIcon)
    }

};
const PROJECTS = [
    {
        title: "Encriptador",
        description: "Encriptador y desencriptador de texto",
        link: "https://arroyoismael.github.io/EncrypText/",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JS],
        image: "./projects/encriptador.webp"
    }
];
---

{
    PROJECTS.map(project => (
        <article>

            <h3 class="text-2xl font-semibold text-yellow-200 mb-2"> {project.title} </h3>
            <p class="text-lg mb-4 text-pretty"> {project.description}</p>
            
            <ul class="flex gap-x-2 flex-row mb-2">

                {   project.tags.map(tag => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                            <tag.icon class="size-4" />
                            {tag.name}
                        </span>
                    </li>
                    ))
                }
            </ul>
            <img class="rounded shadow-2xl shadow-white/10 mb-2" 
            src={project.image} alt="Captura de pantalla de proyecto">
            {
                project.link && (
            <a href={ project.link } target="_blank" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">
                Ver proyecto...
                <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
            )}
        </article>
    ))
}